$gap: 30px;

.container {
  display: flex;
  flex-direction: column;
  gap: $gap;

  .top {
    // Add your styles for the top bar if any
  }

  .content {
    display: flex;
    flex-direction: column; 
    margin-left: 30px;
    margin-right: 30px;
    width: 100%;  
    background-color: rgba(2, 207, 207, 0.342);
    padding: 20px; 
    border-radius: 10px; 
    .main{
      display: flex;
      flex-direction: row;
      gap: $gap;
      .filters {
        flex:1;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    
        .slider {
          margin-bottom: 20px;
        }
    
        .features {
          display: flex;
          flex-direction: column;
        }
      }
    
      .results {
        flex:8;
        display: flex;
        flex-direction: column;
        gap: $gap;
      }
    }
  }

  

  .footer {
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
