.bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    gap: 10px;
    .checkbox{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:start;
    }
    button{
        background-color: white;
        color: #3acbe1;
        border-radius: 15px;
        width: 100px;
        &:active,
            &:hover {
              outline: 0;
              background-color: white;
              transform: scale(1.1);
            }
    }
    .links{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        .right{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
        }
    }
}