.bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    gap: 10px;
    .checkbox{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:start;
    }
    button{
        border-radius: 15px;
        width: 100px;
        
    }
    .links{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        .right{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
        }
    }
}