.sliderContainer {
    display: flex;
    flex-direction: column;
  
    .slickSlider {
      position: relative;
      justify-content: center;
      display: flex;
      touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
  
      .slickList {
        gap: 10px;
        position: relative;
        display: flex;
        overflow: hidden;
  
        &:focus {
          outline: none;
        }
  
      }
    }
  }
  