$size: 60px;

.container {  
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #3acbe1;
  flex-direction: column;
  color: white;
  width: 100%;
    .content{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 50px;
        padding: 10px 10px;
        justify-content: space-between;
        
        .left {
            flex: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            .logo {
              width: 100px;
              height: 100px;
              cursor: pointer;
              border-radius: 50px;
            }
          }
        
          .center {
            display: flex;
            justify-content: center;
            flex: 1;
              a{
                color: white;
                font-size: 40px;
                transition: .35s ease-in-out;
                font-family: "Montserrat";
              }
            &:hover {
              cursor: pointer;
            }
          }
        
          .right {
            display: flex;
            justify-content:end;
            gap: 1rem;
            flex: 1;
            button {
              background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #3acbe1);
              border: 0;
              color: white;
              border-radius: 8px;
              display: flex;
              font-size: 20px;
              text-transform: capitalize;
              justify-content: center;
              line-height: 1em;
              max-width: 100%;
              min-width: 100px;
              padding: 15px 15px;
              touch-action: manipulation;
              cursor: pointer;
              
              .button-63:active,
              .button-63:hover {
                outline: 0;
              }
            }
          
          }
    }
    .bottom{
      width: 90%;
      display: flex;
      flex-direction: column;
      h6{
        align-self: center;
      }
    }
    
  }
  