.container {
    max-width: 335px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #3acbe1;
    
    .cardClass {
      display: flex;
      flex-direction: column;
      margin: 10px 10px;
        
      .media {
        max-width: 100%;
        max-height: 100%;
        border-radius: 10px;
        
      }
  
      .content {
        display: block; 
        flex-direction: column;
        h3{
          height:min-content;
        }
        p{
          height: min-content;
        }
      }
  
      .actions {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 10px; 
        margin-bottom: .2rem;

      }
    }
  }
  