
  .container{
    max-width: xl;
    
    .menuText {
        display: flex;
        margin-right: 1rem;
        font-family: monospace;
        font-weight: 700;
        letter-spacing: .3rem;
        text-decoration: none;
      
        a {
            color: #3acbe1; 
          }
      }
}
  
  
  
  